@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-blue: #1E738E;
  --color-dark-blue: #0D1E2F;
  --color-dark-grey: #2b2b2b;
  --color-light-blue: #D7E8F7;
  --color-yellow: #F4C430;
  --color-white: #FFFFFF;
  --font-manrope: var(--font-manrope);
  --font-yeseva: var(--font-yeseva);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

}
