@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

@theme {
  --color-primary: #003660;
  --color-secondary: #FDB714;
  --color-black: #000000;
  --color-white: #F6F6F6;
  
  --color-blue: #01A9E2;
  --color-green: #40AE2A;
  --color-orange: #EE5200;
  --color-magenta: #D60058;

  --font-primary: var(--font-manrope);
  --font-secondary: var(--font-yeseva);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f6f6f6;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}
