@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #003660;
  --color-secondary: #FDB714;
  --color-black: #000000;
  --color-white: #FDFFFF;
  
  --color-blue: #01A9E2;
  --color-green: #40AE2A;
  --color-orange: #EE5200;
  --color-magenta: #D60058;

  --font-primary: var(--font-manrope);
  --font-secondary: var(--font-yeseva);

  --text-title: 28px;
  --text-title-md: 44px;
  --text-title-spacing: ;
  --text-title-weight: 600;

  --text-subtitle: 24px;
  --text-subtitle-md: 36px;
  --text-subtitle-spacing: ;
  --text-subtitle-weight: 200;

  --text-paragraph: 18px;
  --text-paragraph-md: 24px;
  --text-paragraph-spacing: 1%;
  --text-paragraph-weight: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
